<%- include ('./partials/header.ejs') %>

  <body>
    <%- include ('./partials/navbar.ejs') %>
      <div class="container">
        <div class="card" id="form-ask">
          <div class="card-header">
            <h3 style="text-align: center;">Ask your Question!</h3>
          </div>
          <div class="card-body">
            <form method="POST" action="/salvarpergunta">
              <hr>
              <label>Title</label>
              <input type="text" placeholder="Title" class="form-control" name="titulo"> <br>
              <label>Description</label>
              <textarea placeholder="Type your answer here!" class="form-control" name="descricao"></textarea> <br>
              <button class="btn btn-dark">Ask!</button>
            </form>
          </div>
        </div>
      </div>
  </body>
  <%- include ('./partials/footer.ejs') %>